<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Список героев</title>
</head>
<body>
    <h1>Список героев</h1>
    <div class="container">
        {% for col in range(10) %}
        <div class="column">
            {% for hero in heroes %}
            <div class="hero">
                <img src='https://cdn.stratz.com/images/dota2/heroes/{{hero.shortName}}_vert.png' alt="{{ hero.displayName }}">
                <!--<p>{{ hero.displayName }}</p>-->
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>


