<!DOCTYPE html>
<html>
<head>
    <title>Список героев</title>
</head>
<body>
    {% if error_message %}
    <h1>Error</h1>
    <p>{{ error_message }}</p>
    <ul>
        {% for error in error_details %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>Список героев</h1>
    <ul>
        {% for hero in heroes %}
        <img src='https://cdn.stratz.com/images/dota2/heroes/{{hero.shortName}}_vert.png'>
        <li>{{ hero.displayName }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
